---
title: Tools
---

<div class="website-text">
    <h2>Software Released:</h2>
    <ul>
        <li><a class = "red-link" href ="https://web.cse.ohio-state.edu/~teodorescu.1/arch/tools/varius/varius.html">VARIUS - Process Variation Model</a></li>
    </ul>
</div>