<div class="footer">
  <div class="footer-text">
    <p><strong>Department of Computer Science & Engineering</strong></p>
    <p>&nbsp;797 Dreese Labs</p>
    <p>&nbsp;2015 Neil Ave</p>
    <p>&nbsp;Columbus, OH, 43210</p>
  </div>
</div>