<div class="website-text">
  <h2>About me:</h2>
  <p>I am a Professor in the <a class = "red-link" 
  href ="https://cse.osu.edu/">Department of Computer 
  Science and Engineering</a> at <a class = "red-link" 
  href ="http://www.osu.edu/">Ohio State University</a>. 
  I lead the <a class = "red-link" href ="http://www.cse.ohio-state.edu/~teodores/arch/index.html">
  Architecture Research Lab</a>. Our research interests include 
  computer architecture, energy efficient computing, 
  security and reliability.</p>

  <p>I was born in <a class = "red-link" 
  href ="http://en.wikipedia.org/wiki/Cluj-Napoca">Cluj-Napoca</a>, in the beautiful 
  province of <a class = "red-link" href ="http://www.visittransilvania.ro/">Transilvania</a> 
  in <a class = "red-link" href ="https://www.cia.gov/library/publications/the-world-factbook/geos/ro.html">Romania</a>
  . I received an Engineer Diploma from the 
  <a class = "red-link" href ="http://www.utcluj.ro/">
  Technical University of Cluj-Napoca</a> in 2002.
  I received my Ph.D. from the <a class = "red-link" href ="http://www.cs.uiuc.edu/">Department of Computer 
  Science</a>, <a class = "red-link" href ="http://www.uiuc.edu/">University of Illinois at Urbana-Champaign</a> 
  where I was a member of the <a class = "red-link" href ="http://iacoma.cs.uiuc.edu/">IACOMA</a> group working with 
  <a class = "red-link" href ="http://iacoma.cs.uiuc.edu/~torrella/">Prof. Josep Torrellas</a>. 
  I was the recipient of the Ohio State CSE Department Teaching Award in 2021, 
  the <a class = "red-link" href ="https://engineering.osu.edu/awards/content/lumley-research-award">Lumley Award</a>
  in 2014, an <a class = "red-link" href ="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1253933&HistoricalAwards=false">NSF CAREER award</a> 
  in 2012, <a class = "red-link" href ="http://www.intel.com/content/www/us/en/education/university/intel-phd-fellowship-program.html">Intel Foundation Fellowship</a> 
  for 2007-2008 and the <a class = "red-link" href ="http://cs.illinois.edu/csillinois/awards#2007-2008">W. J. Poppelbaum Award</a>
  for 2008. I was happy to help organize <a class = "red-link" href ="https://www.microarch.org/micro52/">MICRO-52 in Columbus, Ohio</a> in October 2019.</p>

  <p>Thrilled to be a part of the <a class = "red-link" href ="https://acecenter.grainger.illinois.edu/">ACE Center for Evolvable 
  Computing</a>, a <a class = "red-link" href ="https://engineering.osu.edu/news/2023/01/research-consortium-focused-strengthening-semiconductor-industry">SRC/DARPA JUMP</a> 
  2.0 center. I am leading the <a class = "red-link" href ="https://acecenter.grainger.illinois.edu/about/research-theme-4">Security, Privacy and Correctness Theme</a>, devising novel technologies 
  for evolvable and scalable distributed computing.</p>
  
  <p>I am looking for motivated students to join my 
  research group. For more details and research updates 
  please visit <a class = "red-link" href ="http://arch.cse.ohio-state.edu/">my group’s website</a>. If you are 
  interested in working with us send me 
  an email or drop by my office.</p>
  </div>
  <div class="website-text">
  <h2>Teaches:</h2>
    <ul>
    <li><a class = "red-link" href ="http://coe-portal.cse.ohio-state.edu/pdf-exports/CSE/CSE-6421.pdf">CSE 6421</a></li>
    <li><a class = "red-link" href ="http://coe-portal.cse.ohio-state.edu/pdf-exports/CSE/CSE-3421.pdf">CSE 3421</a></li>
    </ul>
  </div>