<div class="prof-container">
  <div class="prof-info">
    <h2 class="prof-title">Radu Teodorescu</h2>
    <div class="prof-content">
      <img src="<%= image_path('images/radu.jpg') %>" alt="Radu Teodorescu">
      <div class="contact-info">
        <p><strong><span class = "prof-contact">Professor,</span>
        <span class = "prof-contact">Department of Computer Science & Engineering</span></strong></p>
        <p><span class = "prof-contact">797 Dreese Labs</span>
        <span class = "prof-contact">2015 Neil Ave</span>
        <span class = "prof-contact">Columbus, OH, 43210</span></p>
        <p><span class = "prof-contact"><a class = "red-link" href="mailto:teodorescu.1@osu.edu">teodorescu.1@osu.edu</a></span></p>
      </div>
    </div>
  </div>
</div>