<header class="page-header">
    <div class="header-left">
        <h1>Radu Teodorescu</h1>
        <p>The Ohio State University</p>
    </div>
    <div class="header-right">
        <img src="images/osulogo.jpg" alt="The Ohio State University">
    </div>
</header>